body{
    margin: 0px;
    font-family: Urbanist;
}
/* Topo */
.inicio{
    width: 100%;
    height: 600px;
    background: url(../imgs/Vector.png);
    background-size: cover;
}
.topo{
    width: 100%;
    height: 100px;
    display: flex;
}

nav a:hover{

    color: #d6a314;
}
.textnav{
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
    margin-left: 50px;
    margin-top: 50px;
}
.logo{
    width: 200px;
    height: 150px;
    margin-left: 100px;
    margin-top: 25px;
}
.slogan{
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin-top: 150px;
}
.slogantx1{
    color: #ffffff;
    font-size: 35px;
}
.slogantx2{
    color: #6EB0FD;
    font-size: 35px;
    margin-left: 9px;
}
.slogan2{
    display: flex;
    font-weight: bold;
    justify-content: center;
}
/* Fim Topo */

/* Sobre */
.titulo{
    width: 100%;
    height: 250px;
    text-align: center;
    margin-top: 40px;
}
.titulotx{
    font-size: 30px;
    color: #000000;
    font-weight: bold;
}
.sobre{
    width: 100%;
    column-count: 2;
    text-align: justify;    
    column-rule-width: 1px;
    column-rule-style:hidden;
    /* column-rule: 1px solid #ff0000; /* shorthand */    
    font-size: 25px;
    display: flex;
    margin-top: 125px;
}
.sobretx{
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
    width: 100%;
}
/* Fim Sobre */

/* Projetos */
.fundo{
    width: 100%;
    height: 600px;
    margin-top: 300px;
    background: url("../imgs/Rectangle\ 5.png");
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.tituloproj{
    text-align: center;
    margin-top: 50px;
}
.titulotxproj{
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}
.conteudo{
    display: flex;
}
.logoproj{
    margin-left: 60px;
    margin-right: 40px;
}
.txproj{
    width: 600px;
    margin-right: 20px;
    margin-left: 40px;
    font-size: 20px;
    color: #ffffff;
    text-align: justify;
    margin-top: 30px;
}
.botao{
    width: 150px;
    height: 50px;
    background-color: #44D363;
    border-radius: 30px;
    margin-top: 40px;
    border: 0px;
    color: #ffffff;
    font-size: 18px;
    font-family: Urbanist;
}
.botao:hover{
    transition: 1s;
    width: 150px;
    height: 50px;
    background-color: #2e8841;
    border-radius: 30px;
    margin-top: 40px;
    border: 0px;
    color: #ffffff;
    font-size: 18px;
    font-family: Urbanist;
}
/* Fim Projetos */

/* Equipe */
.equipe{
    width: 100%;
    height: 500px;
}
.txequipe{
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.circulos{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-top: 100px;
}
.circulo1{
    margin-top: 40px;
    width: 200px;
    height: 200px;
    background-image: url("../imgs/Ellipse1.png");
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}
.circulo2{
    margin-top: 40px;
    width: 200px;
    height: 200px;
    background-image: url("../imgs/Ellipse2.png");
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-left: 100px;
}
.circulo3{
    margin-top: 40px;
    width: 200px;
    height: 200px;
    background-image: url("../imgs/Ellipse3.png");
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-left: 100px;
}
.txeqp{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.txeqp2{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.txeqp3{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-left: 100px;
}
.txeqp4{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 100px;
}
.txeqp5{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-left: 100px;
}
.txeqp6{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 100px;
}
/* Fim Equipe */

/* Footer */
.footer{
    width: 100%;
    height: 400px;
    background-color: #706F6F;
    display: flex;
    margin-top: 100px;
}
.txfooter{
    font-size: 30px;
    color: #ffffff;
    margin-left: 200px;
    margin-top: 100px;
}
.txfooter2{
    font-size: 25px;
    color: #ffffff;
    width: 100%;
    display: flex;
}
.email{
    margin-left: 200px;
}
.txfinal{
    font-size: 23px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.contfooter{
    width: 100%;
}
.icones{
    margin-left: 400px;
}
.icone{
    margin-top: 15px;
    margin-left: 100px;
}
/* Fim Footer */